
# Byte-compiled / optimized / DLL files
__pycache__/
assets/images
*.py[cod]
*$py.class
# Distribution / packaging
build/
dist/
*.egg-info/
# Virtual environments
.venv/
venv/
# OS files
.DS_Store
Thumbs.db
.env
*.pyc
